body{
    background: #303030;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

*{
    font-family: sans-serif, Arial;
}

header{
    padding: 3em;
    width: 100%;
    max-width: 900px;
}

header h1{
    padding-bottom: 0.5em;
    font-size: 2.5rem;
    font-weight: 700;
    color: #606060;
}

#new-task-inputs{
    display: flex;
}

#new-task-text{
    flex: 0.8 1 0%;
    padding: 1em;
    border-radius: 1em;
    background: #404040;
}

#new-task-submit{
    color: firebrick;
    border: none;
    background: none;
    outline: none;
    appearance: none;
    padding-left: 1.5em;
    font-size: 15px;
    font-weight: 700;
}

#new-task-submit:hover{
    opacity: 0.7;
}

________________________________________________________________

main{
    flex: 0.8 1 0%;
    width: 100%;
    max-width: 900px;
}

main h2{
    color: #606060;
    padding-bottom: 0.5em;
    font-size: 2rem;
    font-weight: 700;
}

.task-list{
    padding: 3em;
}

button, input{
    border: none;
    background: none;
    outline: none;
    appearance: none;
}

.text{
    flex: 0.8 1 0%;
    padding: 1em;
    border-radius: 1em;
    background: #202020;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background: #303030;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

#tasks .task .content .text{
    color: #707070;
    font-size: 1.25em;
    width: 100%;
    display: block;
}

#tasks .task .buttons{
    display: flex;
    margin: 0 -0.5em;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5em;
    font-size: 1.25em;

}